<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!--加载数据库连接池servlet-->
    <servlet>
        <servlet-name>proxoolServletConfigurator</servlet-name>
        <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
        <init-param>
            <param-name>xmlFile</param-name>
            <param-value>WEB-INF/classes/proxool.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--初始化servlet-->
    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>com.test.teststatus.servlet.InitServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>doServlet</servlet-name>
        <servlet-class>com.test.teststatus.servlet.DoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.test.teststatus.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelSessionServlet</servlet-name>
        <servlet-class>com.test.teststatus.servlet.CancelSessionServlet</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>initServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proxoolServletConfigurator</servlet-name>
        <url-pattern>/proxoolServletConfigurator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doServlet</servlet-name>
        <url-pattern>/do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelSessionServlet</servlet-name>
        <url-pattern>/cancelSession</url-pattern>
    </servlet-mapping>
    


    <!--拦截器相关配置-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.test.teststatus.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>com.test.teststatus.filter.SessionFilter</filter-class>
    </filter>
    
    
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <!--拦截所有请求-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>